* {

    color: lightyellow;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 61, 54);
    display: flex;
    flex-direction: row;
    list-style: none;
}

button {
    background-color: black;
}

select {
    background-color: black;

}

.sprint {
    margin: 1em 1em;
    padding: 1em 1em;
    border-radius: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.sprint1 {
    background-color: rgb(65, 65, 68);

}

.sprint2 {
    background-color: rgb(65, 65, 68);

}

.sprint3 {
    background-color: rgb(65, 65, 68);

}

.s3-list-item {
    margin: 1em auto 0em auto;
}

.list-select {
    display: block;
}